@import "tailwindcss";

@theme {
  --font-display: "Syne", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;

  --color-bg: #07090E;
  --color-bg-2: #0C0F16;
  --color-bg-3: #111520;

  --color-border: #1A2035;
  --color-border-2: #222840;

  --color-amber: #F59E0B;
  --color-amber-dim: #D97706;

  --color-cyan: #22D3EE;
  --color-cyan-dim: #0891B2;

  --color-risk-low: #10B981;
  --color-risk-medium: #FB923C;
  --color-risk-high: #F59E0B;
  --color-risk-critical: #F43F5E;

  --color-text: #DDE4F0;
  --color-text-dim: #7B8BA8;
  --color-text-faint: #3D4E6A;
}

@layer base {
  body {
    @apply bg-bg text-text antialiased;
  }
}
